<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base_File</title>
</head>
<body bgcolor= "cyan">
    <!--Jinja is a web template engine for the Python programming language.
    provides Python-like expressions while ensuring that the templates are 
    evaluated in a sandbox.-->
    <!-- <img src="/DemoDjango/Image/J.jpg" alt="Girl in a jacket" width="300" height="200"> -->
    
    <!--Creating a Block-->
    {% block content%}
    
    {% endblock %}
    
</body>
</html>

<!--Jinja makes web development cleaner and more efficient by separating Python logic 
from HTML structure-->

<!--When building web applications, you often need to display dynamic data (like user names, 
lists, or database records) in your HTML pages. Jinja allows you to do this easily.-->