<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'base.html'%}
     
    {% block content%}

    <h1>My name is {{name}}</h1>

    <form action="add" method="post"> <!--Post method is used to submit the data-->
        <!--Where as Get is used to fetch the data-->
        {% csrf_token %}
        Enter First Number: <input type="text" name="num1"><br>
        Enter Secound Number: <input type="text" name="num2"><br>
        <input type="submit">

    </form>

    {% endblock %}

</body>
</html>


 <!-- <h1>Hello Everyone</h1>
    <h2>This is my First django web page</h2>
    <button>Subscribe</button>
    Making our webpage dynamic by calling the value here we change is as we like
    caliing the data in the form of json format
    <h1>My name is {{name}}</h1> -->